{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": ["error", {"allow": ["_id"]}],
    "no-console": "off"
  },
  "env":{ "es2020": true, "browser": true, "es6": true },
  "root": true,
}